body {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);

  margin: 0;

  font-family: "Roboto", sans-serif;
}

nav {
  background-color: #232522;

  width: 100%;
  height: 60px;

  border-bottom: 2px solid rgb(46, 44, 44);

  position: fixed;
  top: 0;

  z-index: 1000;

  display: flex;
  justify-content: space-between;
}

.toggle-1 {
  background-color: #414040;

  width: 60px;

  padding: 0;

  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.75);

  cursor: pointer;

  text-align: center;
}

.toggle-2 {
  background-color: #414040;

  width: 60px;

  padding: 0;

  box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.75);

  cursor: pointer;

  text-align: center;
}

.toggle-1 i,
.toggle-2 i {
  color: #fff;

  margin-top: 15px;

  font-size: 30px;
}

.toggle-1:hover,
.toggle-2:hover {
  opacity: 0.5;
}

aside {
  background-color: #1d1d1d;

  width: 0;
  height: calc(100vh - 60px);

  position: fixed;
  top: 60px;

  z-index: 1000;

  transition: all 0.3s ease-in-out;
}

aside ul {
  padding-top: 15px;

  visibility: hidden;
}

aside ul li {
  line-height: 60px;

  list-style: none;
}

aside ul li span,
aside ul li a {
  padding: 0 10px;

  color: #fff;

  text-decoration: none;
  text-transform: uppercase;

  font-size: 16px;

  opacity: 0;

  transition: all 0.3s ease-in-out;
}

.box-a {
  background-color: rgba(73, 75, 74, 0.2);

  width: 15px;
  height: calc(100vh - 60px);

  box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.75);

  position: fixed;
  left: 0;
}

.box-b {
  background-color: rgba(73, 75, 74, 0.2);

  width: 15px;
  height: calc(100vh - 60px);

  box-shadow: -2px 0px 8px 0px rgba(0, 0, 0, 0.75);

  position: fixed;
  right: 0;
}

.main {
  /*height: calc(100vh - 60px);*/

  margin: 60px 30px 0 30px;

  display: flex;

  flex-direction: column;
}

.pokemon-name-box {
  /*background-color: sienna;*/

  display: flex;

  flex-direction: column;
}

.pokemon-name-box .pokemon-change-box {
  /*background-color: wheat;*/

  height: 70px;

  margin-top: 10px;

  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pokemon-name-box .pokemon-change-box .id-box {
  color: rgb(236, 235, 235);

  letter-spacing: 2px;

  font-size: 25px;
}

.pokemon-name-box .pokemon-change-box,
.icon-num1 i,
.icon-num2 i {
  color: white;

  font-size: 40px;

  cursor: pointer;
}

.pokemon-name-box .pokemon-change-box i:hover {
  color: cornflowerblue;

  transition: all 0.5s ease-in-out;
}

.name-box {
  height: 80px;

  color: white;

  letter-spacing: 1px;

  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-main-box-1 {

  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-main-box-1 .pokemon-box {
  padding: 10px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-flow: row wrap;
}

.pokemon-box .pokemon-card {
  background-color: #eee;

  width: 320px;
  height: 320px;

  margin: 15px;

  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-box .pokemon-card img {
  max-width: 80%;
}

.pokemon-box .pokemon-qualities-cart {

  width: 500px;
  height: 320px;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.pokemon-qualities-cart .pokemon-data-cart {
  background-color: #3ca2c3;

  height: 260px;

  margin-top: 20px;

  border-radius: 10px;

  display: flex;
}

.pokemon-data-cart .data-box-1 {
  width: 20%;

  padding: 25px;

  display: flex;

  flex-direction: column;
}

.pokemon-data-cart .title-1 {
  color: whitesmoke;

  margin-bottom: 10px;

  font-size: 18px;
}

.pokemon-data-cart .title-2 {
  color: whitesmoke;

  margin-top: 20px;
  margin-bottom: 10px;

  font-size: 18px;
}

.pokemon-data-cart .title-3 {
  color: whitesmoke;

  margin-top: 20px;
  margin-bottom: 10px;

  font-size: 18px;
}

.pokemon-data-cart .gender-box {
  display: flex;
}

.gender-box .male-gender {
  margin-right: 3px;
}

.gender-box .female-gender {
  margin-left: 3px;
}

.gender-box i {
  color: rgb(48, 47, 47);

  font-size: 25px;
}

.pokemon-data-cart .data {
  color: rgb(48, 47, 47);

  font-size: 20px;
}

.pokemon-data-cart .data-box-2 {
  /*background-color: sandybrown;*/

  width: 35%;

  padding: 25px;

  display: flex;

  flex-direction: column;
}

.data-box-2 .box-2-title-1 {
  color: whitesmoke;

  margin-bottom: 10px;

  font-size: 18px;
}

.data-box-2 .box-2-title-2 {
  color: whitesmoke;

  margin-top: 20px;
  margin-bottom: 10px;

  font-size: 18px;
}

.pokemon-data-cart .data-box-3 {
  /*background-color: rosybrown;*/

  padding: 25px;

  display: flex;

  flex-direction: column;
}

.data-box-3 .box-3-title-1 {
  color: whitesmoke;

  margin-bottom: 10px;

  font-size: 18px;
}

.pokemon-main-box-2 {
  /*background-color: seagreen;*/

  height: 210px; /* 220 */

  margin-top: 9px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-main-box-2 .qualities-box {
  height: 100%;

  display: flex;
}

.qualities-box .box-1 {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);

  width: 425px; 

  padding: 10px; 

  margin-right: 5px;

  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;

}

.qualities-box .box-2 {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);

  width: 425px; 

  padding: 10px; 

  margin-left: 5px;

  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.qualities-title {
  color: whitesmoke;

  margin-top: 5px;
  margin-bottom: 15px;

  font-size: 20px;

  letter-spacing: 1px;

  text-align: center;
}

.qualities-tag {

  display: flex;

  flex-flow: row wrap;
}

.pokemon-main-box-3 {
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-main-box-3 .pokemon-evolution-box {

  width: 900px; /* 880 */

  height: 341px; /* 341 */

  /*padding: 5px;*/

  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;

  display: flex;

  flex-direction: column;
}

.pokemon-evolution-box .evolution-title {
  margin: 10px;

  color: white;

  font-size: 24px;

  text-align: center;
}

.pokemon-evolution-box .evolution-box {
  background-color: rgba(75, 73, 73, 0.2);

  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);

  height: 100%;

  padding: 25px;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.evolution-box .evolution-data-box {
  text-align: center;

  display: flex;

  flex-direction: column;
}

.evolution-data-box .img-card {
  background: #232526;
  background: -webkit-linear-gradient(to right, #232526, #414345);
  background: linear-gradient(to right, #232526, #414345);

  width: 120px;
  height: 120px;

  padding: 15px;

  box-shadow: 0px 7px 10px 5px rgba(0, 0, 0, 0.75);
  border: 5px solid white;
  border-radius: 50%;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.evolution-data-box .img-card:hover {
  animation: bounce 0.5s linear;
}

.img-card img {
  max-width: 90%;
}

.evolution-data-box .data-box {
  margin-top: 20px;
}

.data-box .pokemon-name {
  margin-right: 3px;

  color: white;

  font-size: 22px;
}

.data-box .pokemon-id {
  margin-left: 3px;

  color: rgba(138, 141, 139, 0.9);

  font-size: 21px;
}

.evolution-box .icon-box {
  margin-top: -80px;

  color: whitesmoke;

  font-size: 45px;
}

.icon-box #icon-2 {
  visibility: hidden;
}

.icon-box #icon-2-2 {
  visibility: hidden;
}

.button-main-box {
  margin-top: 15px;

  display: flex;
  justify-content: center;
}

.button-main-box .button-box {
  width: 900px;

  display: flex;
  justify-content: flex-end;
}

.button-box button {
  background-color: #4caf50;

  padding: 15px 20px;

  color: white;

  border: none;

  border-radius: 2px;

  text-align: center;
  text-decoration: none;

  font-size: 16px;

  cursor: pointer;

  display: inline-block;
}

.button-box button:hover {
  opacity: 0.8;
}

footer {
  background-color: #232522;

  height: 150px;

  margin-top: 30px;

  margin-right: 15px;
  margin-left: 15px;

  box-shadow: 0px -7px 10px 0px rgba(0, 0, 0, 0.75);

  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-in-out;
}

footer .footer-title-box {
  width: 160px;
  height: 40px;

  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.75);
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-title-box h3 {
  color: white;
}

.pre-loader {
  width: 60px; /* 70 */
  height: 60px;

  border: 10px solid #eee;
  border-top: 10px solid #666;
  border-radius: 50%;

  position: fixed;
  top: 50%;

  animation-name: turn;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  transition: all 0.3s ease-in-out;
}

.button-up {
  background-color: rgba(146, 146, 146, 0.2);

  color: white;

  width: 60px;
  height: 60px;

  border-left: 2px solid rgb(26, 26, 26);
  border-top: 2px solid rgb(28, 28, 28);

  border-top-left-radius: 10px;

  font-size: 25px;

  position: fixed;
  right: 0;
  bottom: 0;

  cursor: pointer;

  visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: scale(0);

  transition: all 0.3s ease;
}

.button-up:hover {
  background-color: rgba(146, 146, 146, 0.1);
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }

  40% {
    transform: translateY(0px);
  }

  60% {
    transform: translateY(-2px);
  }

  80% {
    transform: translateY(-0px);
  }
}

@media (max-width: 750px) {
  .pokemon-main-box-1 .pokemon-box {
    padding: 0;

    margin-left: 10px;
    margin-right: 10px;
  }

  .pokemon-box .pokemon-card {
    width: 280px;
    height: 280px;
  }

  .pokemon-box .pokemon-qualities-cart {
    width: 400px;
    height: 285px;
  }

  .pokemon-qualities-cart .pokemon-data-cart {
    height: 225px;
  }

  .pokemon-data-cart .title-1 {
    font-size: 15px;
  }

  .pokemon-data-cart .title-2 {
    font-size: 15px;
  }

  .pokemon-data-cart .title-3 {
    font-size: 15px;
  }

  .gender-box i {
    font-size: 20px;
  }

  .data-box-2 .box-2-title-1 {
    font-size: 15px;
  }

  .data-box-2 .box-2-title-2 {
    font-size: 15px;
  }

  .data-box-3 .box-3-title-1 {
    font-size: 15px;
  }

  .pokemon-data-cart .data {
    font-size: 17px;
  }

  /* 2 */
  .pokemon-main-box-2 {
    height: auto;
  }

  .pokemon-main-box-2 .qualities-box {
    flex-flow: row wrap;
  }

  .qualities-box .box-1 {
    padding: 5px;

    margin-right: 10px;
    margin-left: 10px;
  }

  .qualities-box .box-2 {
    padding: 5px;

    margin-top: 8px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .pokemon-main-box-3 .pokemon-evolution-box {
    height: auto; /* 341 */
  }

  .pokemon-evolution-box .evolution-box {
    flex-direction: column;
  }

  .evolution-box #evolution-data-box-1 {
    margin-bottom: 90px;
  }

  .evolution-box #evolution-data-box-2 {
    margin-top: 20px;
    margin-bottom: 90px;
  }

  .evolution-box #evolution-data-box-3 {
    margin-top: 20px;
  }

  .evolution-box .icon-box {
    margin-top: -60px;
  }

  .icon-box #icon-1 {
    position: absolute;

    visibility: hidden;
  }

  .icon-box #icon-2 {
    margin-right: 20px;

    visibility: visible;
  }

  .icon-box #icon-2-2 {
    margin-right: 0;

    visibility: visible;
  }

  .button-main-box {
    margin-right: 10px;
  }

  .button-up {
    visibility: visible;
  }
}

@media (max-width: 415px) {
  .pokemon-name-box .pokemon-change-box .id-box {
    font-size: 20px;
  }

  .pokemon-name-box .pokemon-change-box,
  .icon-num1 i,
  .icon-num2 i {
    font-size: 35px;
  }

  .name-box {
    font-size: 25px;
  }

  .pokemon-main-box-1 .pokemon-box {
    padding: 0;

    margin-left: 20px;
    margin-right: 20px;
  }

  .pokemon-box .pokemon-card {
    width: 260px;
    height: 260px;
  }

  .pokemon-box .pokemon-qualities-cart {
    width: 300px;
    height: 285px;
  }

  .pokemon-qualities-cart .pokemon-data-cart {
    height: 210px;
  }

  .pokemon-data-cart .title-1 {
    font-size: 13px;
  }

  .pokemon-data-cart .title-2 {
    font-size: 13px;
  }

  .pokemon-data-cart .title-3 {
    font-size: 13px;
  }

  .gender-box i {
    font-size: 20px;
  }

  .data-box-2 .box-2-title-1 {
    font-size: 13px;
  }

  .data-box-2 .box-2-title-2 {
    font-size: 13px;
  }

  .data-box-3 .box-3-title-1 {
    font-size: 13px;
  }

  .pokemon-data-cart .data {
    font-size: 14px;
  }

  /* 2 */
  .pokemon-main-box-2 {
    height: auto;
  }

  .pokemon-main-box-2 .qualities-box {
    flex-flow: row wrap;
  }

  .qualities-box .box-1 {
    width: 300px;

    padding: 5px;

    margin-right: 10px;
    margin-left: 10px;
  }

  .qualities-box .box-2 {
    width: 300px;

    padding: 5px;

    margin-top: 8px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .pokemon-main-box-3 .pokemon-evolution-box {
    height: auto; /* 341 */
  }

  .pokemon-evolution-box .evolution-box {
    flex-direction: column;
  }

  .evolution-box #evolution-data-box-1 {
    margin-bottom: 90px;
  }

  .evolution-box #evolution-data-box-2 {
    margin-top: 20px;
    margin-bottom: 90px;
  }

  .evolution-box #evolution-data-box-3 {
    margin-top: 20px;
  }

  .evolution-box .icon-box {
    margin-top: -60px;
  }

  .icon-box #icon-1 {
    position: absolute;

    visibility: hidden;
  }

  .icon-box #icon-2 {
    margin-right: 20px;

    visibility: visible;
  }

  .icon-box #icon-2-2 {
    margin-right: 0;

    visibility: visible;
  }

  .button-main-box {
    margin-right: 10px;
  }

  .button-up {
    visibility: visible;
  }
}