p{
  text-align: justify;
  font-family: open sans, sans-serif;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
}

h3{
  font-size: 25px;
  margin-bottom: 25px;
}

.container{
  text-align: justify;
  display: table;
  font-family: open sans, sans-serif;
}

.navbar{
  background-color: #c55241;
  color: black;
  font-family: open sans, sans-serif;
}

img{
  margin: auto auto;
  margin-bottom: 15px;
  display: table;
  border-radius: 5%;
}

.card{
  margin: auto auto;
}

h1{
  text-align: center;
  font-size: 40px;
  color: #a72f1d;
  margin-top: 45px;
  margin-bottom: 35px;
}

h2{
  text-align: center;
  font-size: 40px;
  color: #a72f1d;
}

.footer{
  color: white;
  background-color: #a72f1d;
  font-family: open sans, sans-serif;
}


hr{
  border: none;
  height: 3.5px;
  background-color: #751102;
}

.curo{
  background-color: #d1a194;
}

.fondo{
  background-color: #f5e9e6;
}